#### for

for 변수 in 리스트:
    반복 수행할 문장
    
    
for 변수 in range(끝+1): #끝 값이 나올때까지 가져옴 


    반복 수행할 문장


for 변수 in range(시작, 끝+1): #시작부터 끝 값까지 가져옴


    반복 수행할 문장


for 변수 in range(시작, 끝+1, 증가): #시작부터 끝값까지의 범위 중 스탠값만 가져옴
    
    
    반복 수행할 문장

In [1]:
for i in [1,2,3,4,5]:
    print(i, end=" ")

1 2 3 4 5

In [3]:
for _ in [1,2,3,4,5]: #i 사용안함. 굳이 리스트안에 숫자값 안쓸려면 i 안써도 됨. _ 로도 사용 가능 
    print("hello")

hello
hello
hello
hello
hello

In [5]:
for i in range(3):
    print(i)

0
1
2

In [6]:
for i in range(1,4):
    print(i)

1
2
3

In [7]:
for i in range(0,10,2): #0~9까지의 값 중에 2씩 증가하는 값 가져옴. 
    print(i)

0
2
4
6
8

In [12]:
# 1부터 10까지의 합 
sum = 0
for i in range(1,11):
    sum += i
print("1부터 10까지의 합 : %d" %sum) #for 빠져 나온 후 동작할 것. 들여쓰기 주의

1부터 10까지의 합 : 55

In [13]:
# 500부터 1000 사이의 홀수의 합 
sum = 0
for j in range(501,1001,2): #홀수인것만 지정했기 때문에 501부터 시작하기.
    sum += j
print("500부터 1000사이의 홀수의 합 : %d" % sum)

500부터 1000사이의 홀수의 합 : 187500

In [14]:
# 500부터 1000 사이의 홀수의 합 ver.2
sum = 0

for j in range(500,1001,): 
    if j % 2 !=0: #나누었을때 몫이 0이 아니면 (=홀수)
        sum += j
print("500부터 1000사이의 홀수의 합 : %d" % sum)

500부터 1000사이의 홀수의 합 : 187500

In [18]:
# 구구단 : 2단 출력하기 

for i in range(2,10):
    print("%d * %d = %d" %(2, i, (2*i)))

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [19]:
#구구단 : 2단(역순)

for i in range(9, 1, -1):
    print("%d * %d = %d" %(2, i, (2*i)))

2 * 9 = 18
2 * 8 = 16
2 * 7 = 14
2 * 6 = 12
2 * 5 = 10
2 * 4 = 8
2 * 3 = 6
2 * 2 = 4

In [21]:
#구구단 : 2단 ~ 9단 

for i in range(2,10):
    for j in range(2,10):
        print("%d * %d = %d" %(i,j,(i*j)), end=" ")
    print("")

2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [22]:
#문자열도 리스트처럼 취급해서 한 글자씩 보여줌. 
for s in 'abcdefg':
    print(s)

a
b
c
d
e
f
g