##### enumerate() 함수

In [4]:
#리스트를 받아오는 경우 인덱스를 출력 

for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [5]:
#딕셔너리형 사용

{i:j for i,j in enumerate('TEAMLAB is an academic institue located in South Lorea.'.split())}

{0: 'TEAMLAB',
 1: 'is',
 2: 'an',
 3: 'academic',
 4: 'institue',
 5: 'located',
 6: 'in',
 7: 'South',
 8: 'Lorea.'}

##### zip() 함수

In [6]:
#zip() 함수 

#기본모양
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for a,b in zip(alist, blist):
    print(a,b)

a1 b1
a2 b2
a3 b3

In [7]:
#리스트 안에 리스트 묶기 

a,b,c = zip((1,2,3),(10,20,30),(100,200,300))
print(a,b,c)

[sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))]

(1, 10, 100) (2, 20, 200) (3, 30, 300)

[111, 222, 333]

In [8]:
#enumerate랑 같이 사용하기 

alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for i, (a,b) in enumerate(zip(alist,blist)):
        print(i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3