In [2]:
a = [0,1,2,3,4]
print(a[:3], a[:-3])

[0, 1, 2] [0, 1]

In [3]:
a = [0,1,2,3,4]
print(a[::-1])

[4, 3, 2, 1, 0]

In [5]:
first = ["egg", "salad", "bread", "soup", "canafe"]
second = ["fish","lamb","pork","beef","chicken"]
third = ["apple","banana","orange","grape","mango"]

order = [first, second, third]
john = [order[0][:-2], second[1::3],third[0]]
del john[2]
john.extend([order[2][0:1]])
print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

In [7]:
list_a = [3,2,1,4]
list_b = list_a.sort() #sort() = 정렬. 원본 값의 순서를 바꿈. 반환값없음. 
print(list_a, list_b)

[1, 2, 3, 4] None

In [8]:
a = [5,7,3]
b = [3,9,1]
c = a+b
c = c.sort() #정리는 하지만 값은 없음. 
print(c)

None

In [1]:
fruits = ['apple','banana','cherry','grape','orange','strawberry','melon']
print(fruits[-3:], fruits[1::3])

['orange', 'strawberry', 'melon'] ['banana', 'orange']

In [10]:
num = [1,2,3,4]
print(num * 2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [11]:
a = [1,2,3,5]
b = ['a','b','c','d','e']

a.append('g')
b.append(6)
print('g' in b, len(b))

False 6

In [13]:
list_a = ['Hankook','University','is','an','academic','institute','located','in','South Korea']
list_b = []
for i in range(len(list_a)):
    if i % 2 !=1:
        list_b.append(list_a[i])
print(list_b)

['Hankook', 'is', 'academic', 'located', 'South Korea']

In [4]:
admission_year = input("입학 연도를 입력하세요 : ") #input 따옴표 넣든 안넣든 일단 무조건 string으로 받아옴.
print(type(admission_year))

입학 연도를 입력하세요 : "2022"
<class 'str'>

In [16]:
country = ['Korea','Japan','China']
capital = ["Seoul","Tokyo","Beijing"]
index = [1,2,3]
country.append(capital)
country[3][1] = index[1:]
print(country)

['Korea', 'Japan', 'China', ['Seoul', [2, 3], 'Beijing']]