## 스택

In [2]:
#스택 

a = [1,2,3,4,5]
a.append(10)
print(a)

a.append(20)
print(a)

print(a.pop())
print(a)

print(a.pop())
print(a)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10, 20]
20
[1, 2, 3, 4, 5, 10]
10
[1, 2, 3, 4, 5]

In [3]:
#텍스트의 역순 추출 

word = input("Input a word: ")
world_list=list(word) #문자열을 list로 만들어줌 (많이 사용함.)
print(world_list)

result = [] #역순으로 꺼내올 값을 저장할 공간 만들어줌. 스택통해 역순으로 꺼냄
for _ in range(len(world_list)): 
    result.append(world_list.pop())
    
print(result)
print(word[::-1]) #슬라이싱 사용해서 역순으로 꺼냄.

Input a word: i love you
['i', ' ', 'l', 'o', 'v', 'e', ' ', 'y', 'o', 'u']
['u', 'o', 'y', ' ', 'e', 'v', 'o', 'l', ' ', 'i']
uoy evol i

## 큐

In [4]:
#큐 

q = [1,2,3,4,5]
q.append(10)
print(q)

q.append(20)
print(q)

print(q.pop(0)) #스택과의 차이점 : pop() 사용시 0번 인덱스 지정 사용. 
print(q)

print(q.pop(0))
print(q)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10, 20]
1
[2, 3, 4, 5, 10, 20]
2
[3, 4, 5, 10, 20]

In [7]:
#빈 리스트 생성 (리스트 만드는 두가지 형태 )

aa = [] # 지정할 값을 직접 지정 
bb = list() # 문자열을 받아와서 한글자씩 잘라서 저장해줌. 

#range 
a1 = list(range(10)) #0~9 
a2 = list(range(10, 0, -1)) # 10부터 0 앞까지 역순으로 
a3 = list(range(5, 12)) # 5~11 
a4 = list(reversed(range(10))) #역순으로 뽑는거 바로 적용시키는 함수. 
print(a1, a2, a3,a4, sep="\n") # \n 걸어서 한줄씩 뽑겠다. 

#str 
s1 = list("hello")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[5, 6, 7, 8, 9, 10, 11]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [8]:
a = [0,0,0,0,0]
b = a

print(a is b)
b[2] = 99
print(a,b)

True
[0, 0, 99, 0, 0] [0, 0, 99, 0, 0]

In [9]:
a = [0,0,0,0,0]
b = a.copy() # 똑같은 데이터를 저장하고 있는 새로운 list 객체 생성됨.

print(a == b)
print(a is b)
b[2] = 99
print(a,b)

True
False
[0, 0, 0, 0, 0] [0, 0, 99, 0, 0]

In [10]:
a = [1,5,6,3,7,2]
b = a.sort()
print(b)

None

In [11]:
a = [1,5,6,3,7,2]
b = sorted(a) # 원본데이터 손 안대면서 정렬하면서 새 list 만들고 싶으면 사용. 

print(a)
print(b)

[1, 5, 6, 3, 7, 2]
[1, 2, 3, 5, 6, 7]

## 튜플

In [17]:
#튜플 만들기

tt1 = (10, 20, 30)
tt2 = 10, 20, 30
print(tt1, tt2)

# 요소가 하나인 튜플 생성 : 값 뒤에 , 찍으면 생성. 
tt3 = 10, 
tt4 = (10,)
print(tt3, type(tt3))
print(tt4, type(tt4))

a = tuple() 
a1 = tuple(range(10)) #0~9까지 범위 저장. 
a2 = tuple([1,2,3,4]) #리스트 만들고 수정 안하게 만들려면 튜플로 넘겨줌. 
a3 = list(a1) # 튜플을 리스트로 바꿈. 
print(a, a1, a2, a3, sep="\n")

del(a1) #튜플 안에 있는 데이터를 바꾸진 못해도 튜플 자체를 삭제하는건 가능.

(10, 20, 30) (10, 20, 30)
(10,) <class 'tuple'>
(10,) <class 'tuple'>
()
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
myTuple = (10, 20, 30)
# 3번 인덱스에 40 추가하기 : tuple -> list -> tuple 

a5 = list(myTuple)
a5.append(40)

myTuple = tuple(a5)
print(myTuple)

(10, 20, 30, 40)

## 세트

In [23]:
s = set([1,2,3,1,2,4]) #중복값 제거하면서 저장함. 

print(s)

s.add(6)
s.add(1)

print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

In [21]:
s1 = {1,2,3,1} #set을 직접 선언하는 방법 
print(s1, type(s1))

{1, 2, 3} <class 'set'>

In [25]:
# 합집합 교집합 차집합 

s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])

print(s1.union(s2)) #s1과 s2의 합집합 
print(s1 | s2)

print(s1.intersection(s2)) #s1 s2의 교집합 
print(s1 & s2)

print(s1.difference(s2)) #s1 s2의 차집합 
print(s1 - s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}

## 딕셔너리

In [34]:
country_code = {}
country_code = {"America":1, "Korea":82, "China":86, "Japan":81}
print(country_code)

print(country_code.keys()) #키 값만 출력

country_code["German"]=49 #키 벨류 추가 
print(country_code)


print(country_code.values()) #value 값만 출력 

print(country_code.items()) #딕셔너리 데이터 출력

for k, v in country_code.items(): #키, 벨류 언패킹. 
    print("Key", k)
    print("Value", v)

print("Korea" in country_code.keys()) #요소가 데이터 안에 있는지 확인. 
print(82 in country_code.values())

del(country_code['China']) #삭제 : 키와 연결된 값까지 사라짐. 
print(country_code)

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}
dict_keys(['America', 'Korea', 'China', 'Japan'])
{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 49}
dict_values([1, 82, 86, 81, 49])
dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81), ('German', 49)])
Key America
Value 1
Key Korea
Value 82
Key China
Value 86
Key Japan
Value 81
Key German
Value 49
True
True
{'America': 1, 'Korea': 82, 'Japan': 81, 'German': 49}

## collections

In [ ]:
from collections import deque #전체 컬렉션 중 deque만 쓰겠습니다 

# 사용할때 deque ~~ 쓰면 됨.