In [1]:
#사각형 넓이 구하는 함수 만들기
def calculate_rectangle_area(x,y):
    return x*y

r_x = 10
r_y = 20 

print("사각형의 넓이 : ", calculate_rectangle_area(r_x, r_y))

사각형의 넓이 :  200

In [5]:
def f(x):
    return (2*x)+7
def g(x):
    return x**2

x=2

print(f(x)+g(x)+f(g(x))+g(f(x)))

151

In [6]:
#함수형태 

def a_rectangle_area():         # 매개변수 X , 반환값 X
    print(5 * 7)
def b_rectangle_area(x, y):     # 매개변수 O , 반환값 X
    print(x * y)
def c_rectangle_area():         # 매개변수 X , 반환값 O
    return (5 * 7)
def d_rectangle_area(x , y):    # 매개변수 O , 반환값 O
    return (x * y)

result_a = a_rectangle_area()
print(result_a)
b_rectangle_area(5, 7)
print(c_rectangle_area())
print(d_rectangle_area(5, 7))

35
None
35
35
35

In [7]:
def spam(eggs):
    eggs.append(1)
    eggs = [2,3]
    
ham=[0]
spam(ham)
print(ham)

[0, 1]

In [8]:
def test(t):
    print(x)
    t = 20
    print("In Function:", t)
    
x = 10
test(x)
print("In main:", x)
print("In Main:", t)

10
In Function: 20
In main: 10

NameError: name 't' is not defined

In [10]:
def f():
    global s
    s = "I love London"
    print(s)
    
s = "I love Paris"
f()
print(s)

I love London
I love London

In [11]:
def calculate(x,y):
    total = x + y # 새로운 값이 할당되어 함수 안 total은 지역 변수가 됨 
    print("In Function")
    print("a:", str(a), "b:", str(b), "a+b:", str(a+b),"total:",str(total))
    
a = 5 # a와 b는 전역 변수 
b = 7
total = 0 # 전역변수 total 
print("In Program -1")
print("a:", str(a), "b:",str(b),"a+b:",str(a+b))

sum = calculate(a,b)
print("After Calculation")
print("Total:",str(total),"Sum:",str(sum)) 
#지역변수는 전역 변수에 영향을 주지 않음.

In Program -1
a: 5 b: 7 a+b: 12
In Function
a: 5 b: 7 a+b: 12 total: 12
After Calculation
Total: 0 Sum: None

In [13]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(int(input("Input Number for Factorial Calculatio: "))))

Input Number for Factorial Calculatio: 5
120

In [15]:
#키워드 인수 
def print_something(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))
    
print_something("Sungchul","TEAMLAB")
print_something(your_name = "TEAMLAB", my_name="Sungchul")

Hello TEAMLAB, My name is Sungchul
Hello TEAMLAB, My name is Sungchul

In [17]:
#키워드 인수 2
def print_something_2(my_name, your_name="TEAMLAB"):
    print("Hello {0}, My name is {1}".format(your_name, my_name))
    
print_something_2("Sungchul","jieun")
print_something_2("Sungchul")

Hello jieun, My name is Sungchul
Hello TEAMLAB, My name is Sungchul

In [23]:
del sum

In [24]:
def asterisk_test(a,b,*args):
    return a + b + sum(args)

print(asterisk_test(1,2,3,4,5))

15

In [20]:
#가변 인수
def asterisk_test(a, b, *args): #1,2 는 각각 a,b에 넣어지고, 나머지는 args에 들어감. 
    print(args)
    
print(asterisk_test(1,2,3,4,5))

(3, 4, 5)
None

In [21]:
def asterisk_test2(*args):
    x,y,*z = args #언패킹 
    print(x,y,z)
    
asterisk_test2(1,2,3,4,5,6,7)

1 2 [3, 4, 5, 6, 7]

In [26]:
def kwargs_test(one, two, *args, **kwargs):
    print(one + two + sum(args))
    print(kwargs)
    
kwargs_test(3,4,5,6,7,8,9, first = 3, second = 4, third = 5)

42
{'first': 3, 'second': 4, 'third': 5}